/* Progress Bar Styles */

.fill {
  height: 100%;
  background: linear-gradient(to right, var(--color-primary), #b91c1c);
  border-radius: 9999px;
  position: relative;
}

@media (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}
